version: "3.5"

services:
  nginx:
    image: nginx:latest
    build:      
      context: ../../nginx
      dockerfile: Dockerfile
    image: nginx:alpine
    ports: 
      - "3002:3002"
    networks:
      - local
  api:
    image: api:latest
    build:      
      context: ../../
      dockerfile: Dockerfile
    ports: 
      - "3000:3000"
    networks:
      - local
networks:
  local:
    name: local
